<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Theophilus N Nenhanga"/>
    <meta name="description" content="A statistics website"/>
    <title>Statistics Website</title>

    {#<link rel="preload" as="style" onload="this.rel='stylesheet'" id="stylesheet" href="../static/styles.css">#}
    <link rel="stylesheet" id="stylesheet" href="../static/styles.css">

    {% block script %}
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <script src="{{ url_for('static', filename='simpleStats.js') }}"></script>
    {% endblock script %}

</head>

<body>
<div class="navigation-shade hide" id="navigation-shade">
    <div class="container">
        <div class="shade-exit">
            <p class="shade-header">Site Navigation</p>
            <button class="shade-link" id="shade-exit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg"
                     viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"></path>
                </svg>
            </button>
        </div>
    </div>

    <div class="shade-flex container">
        <a href="{{ url_for('main.home') }}" class="shade-link">Home</a>
        <a href="{{ url_for('simple.home') }}" class="shade-link">Simple Stats</a>
        <a href="{{ url_for('complex.home') }}" class="shade-link">Distributions</a>
    </div>
</div>
<div class="container">

    <div class="menu-bar">
        <h1>Statistics Website Clone</h1>
        <button id="shade-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
            </svg>
        </button>
    </div>

    <div class="navbar">
        <a href="{{ url_for('main.home') }}" class="button home-button">Home</a>
        <div class="nav-buttons">
            <a href="{{ url_for('simple.home') }}" class="button">Simple Stats</a>
            <a href="{{ url_for('complex.home') }}" class="button">Distributions</a>
        </div>
    </div>
</div>

{% block body %}{% endblock body %}
<div class="container">
    <footer class="footer">
        <div class="footer-info">
            <p>Made by <a href="https://github.com/TheophilusNenhanga" style="text-decoration: underline">Theophilus
                Nenhanga</a></p>
            <p>Thank you for using my site, I hope it helped.</p>
            <p>If you want to see the source code you can check it out on GitHub!</p>
            <a href="https://github.com/TeeEnnEnn/StatisticsWebsiteClone" class="button inner-button-flex"
               target="_blank"> Go to GitHub
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-github"
                     viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                </svg>
            </a>
        </div>
        <div class="footer-right">
            <div class="footer-links">
                <h3>Find your Way around</h3>
                <a href="{{ url_for('simple.home') }}" class="footer-link" style="text-decoration: underline"> Simple
                    Stats</a>
            </div>
            <div class="footer-links">
                <a href="{{ url_for('complex.home') }}" class="footer-link" style="text-decoration: underline">Distributions</a>
                <a href="{{ url_for('complex.normal') }}" class="footer-link">Normal Distribution</a>
                <a href="{{ url_for('complex.poisson_distribution') }}" class="footer-link">Poisson Distribution</a>
                <a href="{{ url_for('complex.geometric_distribution') }}" class="footer-link">Geometric Distribution</a>
                <a href="{{ url_for('complex.binomial') }}" class="footer-link">Binomial Distribution</a>
                <a href="{{ url_for('complex.t_distribution') }}" class="footer-link">T Distribution</a>
                <a href="{{ url_for('complex.f_distribution') }}" class="footer-link">F Distribution</a>
                <a href="{{ url_for('complex.chi_squared') }}" class="footer-link">Chi-Squared Distribution</a>
            </div>

        </div>
        <div class="settings">
            <div class="night-settings">
                <p id="night-mode-prompt">Change to Night Mode</p>
                <button id="night-mode" type="button" class="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                         class="bi bi-moon-stars-fill" viewBox="0 0 16 16">
                        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"></path>
                        <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"></path>
                    </svg>
                </button>
            </div>
        </div>

    </footer>
</div>

</body>

</html>