<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Theophilus N Nenhanga"/>
    <meta name="description" content="A statistics website"/>
    <title>Statistics Website</title>

    {% block stylesheet %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    {% endblock stylesheet %}

    {% block font %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400&family=Montserrat:wght@100;300;400&family=Open+Sans:wght@300;400;500&family=Roboto:wght@100;300;400&family=Ubuntu:wght@300;400&display=swap"
              rel="stylesheet">
    {% endblock font %}

    {% block script %}
        <script src="{{ url_for('static', filename='index.js') }}"></script>
    {% endblock script %}

</head>

<body>
<div class="container">

    <div class="navbar">
        <a href="{{ url_for('main.home') }}" class="button home-button">Home</a>
        <div class="nav-buttons">
            <a href="{{ url_for('complex.home') }}" class="button">Complex Stats</a>
            <a href="{{ url_for('simple.home') }}" class="button">Simple Stats</a>
        </div>
    </div>
</div>

{% block body %}{% endblock body %}
</body>

</html>