{% extends "base.html" %}

{% block body %}
    <div class="container">
        <div class="page-header">Binomial</div>
    </div>

    <div class="container">
        <div class="complex-flex">
            <div class="function-sidebar">
                {% for function in functions %}
                    <a href="/complex/{{ function }}" class="function-text-link">{{ function }}</a>
                {% endfor %}
            </div>
            <div class="binomial-workspace">
                <form action="{{ url_for('complex.binomial') }}" method="post" class="binomial-form">
                {{ form.csrf_token }}
                {{ form.n.label(class="") }}
                {{ form.n(class="") }}

                {{ form.p.label(class="") }}
                {{ form.p(class="") }}

                {{ form.x.label(class="") }}
                {{ form.x(class="") }}

                {% for error in form.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}

                {{ form.submit(class="button") }}
            </form>
            <div class="binomial-results">
                <p>Probability = {{ probability }}</p>
                <p>Mean = {{ mean }}</p>
                <p>Variance = {{ variance }}</p>
                <p>Standard Deviation = {{ standard_deviation }}</p>
            </div>


            </div>
        </div>
    </div>
{% endblock body %}