{% extends "distribution_template.html" %}
{% block workspace %}
    <div class="distribution-workspace">
        <form action="{{ url_for('complex.chi_squared') }}" method="post" class="distribution-form">
            {{ form.csrf_token }}

            <div class="form-pair">
                {{ form.chi_square.label(class="form-label") }}
                {{ form.chi_square(class="form-input") }}
                {% for error in form.chi_square.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
            </div>
            <div class="form-pair">
                {{ form.freedom.label(class="form-label") }}
                {{ form.freedom(class="form-input") }}
                {% for error in form.freedom.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
            </div>

            {{ form.submit(class="button") }}
        </form>
        <div class="distribution-results">
            <p>Probability = {{ probability }}</p>
        </div>
    </div>

{% endblock workspace %}