{% extends "base.html" %}

{% block body %}
    <div class="container">
        <h1 class="page-header">Choose A function</h1>
    </div>

    <div class="container">
        <div class="complex-flex">
            <div class="function-sidebar">
                {% for function in functions %}
                    <a href="/complex/{{ function }}" class="function-text-link">{{ function }}</a>
                {% endfor %}
            </div>
            <div class="function-grid">
                {% for function in functions %}
                    {% if not function == "More To Come!" %}
                        <a href="/complex/{{ function }}" class="button center">{{ function }}</a>
                    {% else %}
                        <a href="" class="button">{{ function }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock body %}
