{% extends "base.html" %}

{% block body %}
    <div class="container">
        <h1 class="page-header">{{ distribution.name }}</h1>
    </div>

    <div class="container">
        <div class="complex-flex">
            <div class="function-sidebar">
                {% for function in functions %}
                    {% if not function == "More To Come!" %}
                        <a href="/complex/{{ function }}" class="function-text-link">{{ function }}</a>
                    {% else %}
                        <a href="" class="function-text-link">{{ function }}</a>
                    {% endif %}
                {% endfor %}
            </div>
            {% block workspace %}{% endblock %}
        </div>


        <div class="explanation">
            <h2 class="explanation-header">Get to know the Distribution</h2>
            <div class="distribution-explanation">

                <div class="left-flex">
                    <p>{{ distribution.name }}</p>
                    <p>{{ distribution.description }}</p>
                </div>

                <div class="right-flex">
                    <p>{{ distribution.explanation }}</p>
                </div>
            </div>


        </div>

    </div>
{% endblock body %}