{% extends "distribution_template.html" %}
{% block workspace %}
    <div class="distribution-workspace">
        <form action="{{ url_for('complex.f_distribution') }}" method="post" class="distribution-form">
            {{ form.csrf_token }}

            <div class="form-pair">
                {{ form.x.label(class="form-label") }}
                {{ form.x(class="form-input") }}
                {% for error in form.x.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-pair">
                {{ form.freedom_n.label(class="form-label") }}
                {{ form.freedom_n(class="form-input") }}
                {% for error in form.freedom_n.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-pair">
                {{ form.freedom_d.label(class="form-label") }}
                {{ form.freedom_d(class="form-input") }}
                {% for error in form.freedom_d.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>

            {{ form.submit(class="button") }}
        </form>
        <div class="distribution-results">
            <p>Probability = {{ probability }}</p>
        </div>
    </div>

{% endblock workspace %}