{% extends "base.html" %}

{% block body %}
    <h1 class="title">Statistics Main Page</h1>


    <div class="home-grid">
        <div class="home-tab">
            <h2>Simple Statistics</h2>
            <div class="center-grid">
                <a href="/simple" class="button">Simple Stats</a>
            </div>
        </div>

        <div class="home-tab">
            <h2>Complex Statistics</h2>
            <div class="center-grid">
                <a href="/complex" class="button">Complex Stats</a>
            </div>
        </div>
    </div>


{% endblock body %}