{% extends "base.html" %}

{% block body %}
    <div class="container">
        <h1 class="page-header">Statistics Main Page</h1>


        <div class="home-grid">
            <div class="home-tab">
                <h2>Simple Statistics</h2>
                <p>Capabilities</p>
                <div class="outer-centre-flex">
                    <ol class="capability-list">
                        <li>Descriptive Statistics (eg. mean, variance, median)</li>
                        <li>Graphical Representations</li>
                    </ol>
                </div>

                <div class="center-grid">
                    <a href="/simple" class="button">Simple Stats</a>
                </div>
            </div>

            <div class="home-tab">
                <h2>Distributions</h2>
                <p>Capabilities</p>
                <div class="outer-centre-flex">
                    <ol class="capability-list">
                        <li>Discrete Distributions</li>
                        <li>Continuous Distributions</li>
                        <li>Graphical Representations</li>
                    </ol>
                </div>
                <div class="center-grid">
                    <a href="/complex" class="button">Distributions</a>
                </div>
            </div>
        </div>
    </div>


{% endblock body %}