{% extends "distribution_template.html" %}

{% block workspace %}
    <div class="distribution-workspace">
        <form action="{{ url_for('complex.normal') }}" method="post" class="distribution-form">
            {{ form.csrf_token }}
            <div class="form-pair">
                {{ form.mean.label(class="form-label") }}
                {{ form.mean(class="form-input") }}
                {% for error in form.mean.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-pair">
                {{ form.standard_deviation.label(class="form-label") }}
                {{ form.standard_deviation(class="form-input") }}
                {% for error in form.standard_deviation.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-pair">
                {{ form.x.label(class="form-label") }}
                {{ form.x(class="form-input") }}

                {% for error in form.x.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>


            {{ form.submit(class="button") }}
        </form>
        <div class="distribution-results">
            <p>Probability = {{ probability }}</p>
        </div>
    </div>

{% endblock workspace %}

{% block non_workspace %}
    {% if graph %}
        <div class="complex-graph-grid">
            <h2>{{ distribution_name }} Graph</h2>
            <img src="{{ url_for('complex.normal_graph') }}" alt="A bell shaped curve">
        </div>
    {% else %}
        <div class="complex-graph-grid">
            <p>Enter Values to see a graph</p>
        </div>
    {% endif %}
{% endblock non_workspace %}
