{% extends "base.html" %}

{% block body %}
    <div class="container">
        <h1 class="page-header">Simple Statistics</h1>
    </div>

    <div class="container">
        <div class="simple-grid">

            <div class="data-entry">
                <div class="edit-data-set">
                    <h2 class="heading center">Edit Data Set</h2>

                    <form action="" method="post" id="simple-submission" class="">
                        <div class="data-value">
                            <label for="value" class="center">Enter a data value</label>
                            <input type="number" name="value" id="value" step="0.01" placeholder="eg. 3.27">
                        </div>
                        <div class="data-value">
                            <label for="rounding">Decimal places</label>
                            <select name="rounding" id="rounding">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>

                        <input type="submit" class="button" value="submit">
                    </form>

                    <div class="reset-data-set">
                        <p>Reset Data Set</p>
                        <div class="hidden-small"></div>
                        <div class="hidden-small"></div>

                        <button type="button" id="reset-data" class="button">Reset</button>
                    </div>

                </div>

                <div class="current-data-set">
                    <h2 class="heading center">Current Data Set</h2>
                    <div class="options-grid">
                        <button type="button" class="button option" id="ascending-button">Ascending</button>
                        <button type="button" class="button option" id="descending-button">Descending</button>
                    </div>
                </div>

                <div id="data-grid" class="data-set-grid">
                </div>
                <p>Double click on a data value to delete it</p>
            </div>

            <div class="descriptive-statistics">
                <h2 class="heading center">Descriptive Statistics</h2>
                <div class="result-grid">
                    <div class="simple-stat">
                        <p class="center">Mean</p>
                        <p class="center" id="mean"></p>
                    </div>

                    <div class="simple-stat">
                        <p class="center">Mode</p>
                        <p class="center" id="mode"></p>
                    </div>

                    <div class="simple-stat">
                        <p class="center">Median</p>
                        <p class="center" id="median"></p>
                    </div>

                    <div class="simple-stat">
                        <p class="center">Range</p>
                        <p class="center" id="range"></p>
                    </div>

                    <div class="simple-stat">
                        <p class="center">Variance</p>
                        <p class="center" id="variance"></p>
                    </div>

                    <div class="simple-stat">
                        <p class="center">Standard deviation</p>
                        <p class="center" id="std-deviation"></p>
                    </div>

                    <div class="simple-stat">
                        <p class="center">Mean deviation</p>
                        <p class="center" id="mean-deviation"></p>
                    </div>

                    <div class="simple-stat">
                        <p class="center">Lower Quartile</p>
                        <p class="center" id="lower-quartile"></p>
                    </div>

                    <div class="simple-stat">
                        <p class="center">Upper quartile</p>
                        <p class="center" id="upper-quartile"></p>
                    </div>

                    <div class="simple-stat">
                        <p class="center">Inter-quartile Range</p>
                        <p class="center" id="iqr"></p>
                    </div>

                    <div class="simple-stat">
                        <p class="center">lower Fence</p>
                        <p class="center" id="lower-fence"></p>
                    </div>

                    <div class="simple-stat">
                        <p class="center">Upper Fence</p>
                        <p class="center" id="upper-fence"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#<div class="container">#}
    {#    <h2 class="heading center">Graphs</h2>#}
    {#    {% if graph %}#}
    {#    <div class="graph-grid">#}
    {#        <img src="{{ url_for('simple.line_graph_image') }}" alt="A Line graph" class="graph">#}
    {#        <img src="{{ url_for('simple.frequency_graph_image') }}" alt="A Frequency graph" class="graph">#}
    {#        <img src="{{ url_for('simple.boxplot_image') }}" alt="A Boxplot" class="graph">#}
    {#    </div>#}
    {#    {% else %}#}
    {#    <div class="graph-grid">#}
    {#        <p>Enter at least 3 values to see a graph</p>#}
    {#        <p>Enter at least 3 values to see a graph</p>#}
    {#    </div>#}
    {#    {% endif %}#}
    {#</div>#}


{% endblock body %}
